@charset "UTF-8";
.layout__center, .layout__center--full-height, .layout__center--full-height--responsive-plz {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.layout__center--full-height, .layout__center--full-height--responsive-plz {
  min-height: 100vh; }

@media screen and (max-width: 719px) {
  .layout__center--full-height--responsive-plz {
    display: block; } }

.widget {
  padding: 4rem 0; }

.card__bottom-actions, .card__bottom-actions--nav {
  font-weight: 700;
  overflow: hidden;
  text-align: center; }

.card__action--like, .card__action {
  color: #b8aca1 !important; }

.card__action--like:hover {
  color: rgba(0, 0, 0, 0.87) !important; }

.card__action--like:active, .active.card__action--like,
.card__action--like:active > i.like,
.active.card__action--like > i.like {
  color: #e26f4d !important; }

.card__action--like > i.like {
  opacity: 1 !important;
  transition: none !important; }
  .card__action--like > i.like:active {
    color: #e26f4d !important; }

.card__action--like:not(.active) > i.like:hover {
  color: rgba(0, 0, 0, 0.87) !important; }

.card__action--nav {
  cursor: pointer; }
  .card__action--nav > a {
    color: rgba(255, 255, 255, 0.9) !important; }
  .card__action--nav > a i {
    margin: 0.2em; }

.card__profile-image {
  border-radius: 50%;
  border: 1px solid #b8aca1;
  padding: 2px; }

.card__description {
  display: inline; }

.card__bottom-actions {
  background-color: rgba(0, 0, 0, 0.1) !important; }

.card__bottom-actions--nav {
  background-color: #776b5e !important;
  padding: 0 !important; }

.card__action--nav {
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .card__action--nav:hover {
    background-color: #6c6155 !important; }
  .card__action--nav:active, .card__action--nav.active {
    background-color: #60574c !important; }
  .card__action--nav__label {
    text-transform: uppercase;
    font-size: 0.7em; }

.card-tab {
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  min-height: 400px;
  margin-right: 1px;
  margin-left: 1px;
  padding: 1rem;
  border-radius: 0 0 .28571429rem .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  border: 1px solid rgba(34, 36, 38, 0.1);
  border-top: none;
  overflow: auto; }
  @media screen and (min-width: 720px) {
    .card-tab {
      min-width: 400px;
      max-width: 400px; } }

/* >>> override semantic... yea sorry bout that */
.ui.checkbox input:checked ~ .box:after,
.ui.checkbox input:checked ~ label:after,
.ui.checkbox input:checked:focus ~ .box:after,
.ui.checkbox input:checked:focus ~ label:after,
.ui.checkbox input:not([type='radio']):indeterminate:focus ~ .box:after,
.ui.checkbox input:not([type='radio']):indeterminate:focus ~ label:after {
  color: #4daf7b; }

/* <<< override semantic*/
/* >>> react-tagsinput */
.react-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
  padding-left: 5px;
  padding-top: 5px; }

.react-tagsinput--focused {
  border-color: #a5d24a; }

.react-tagsinput-tag {
  background-color: #cde69c;
  border-radius: 2px;
  border: 1px solid #a5d24a;
  color: #638421;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px; }

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold; }

.react-tagsinput-tag a::before {
  content: ' ×'; }

.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: #777;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 1px;
  outline: none;
  padding: 5px;
  width: 80px; }

/* <<< react-tagsinput */
.loading-skeleton {
  animation: progress 1.2s ease-in-out infinite;
  background-color: #e4dfdb;
  background-image: linear-gradient(90deg, #e4dfdb, #d2cbc4, #e4dfdb);
  background-size: 300px 100%;
  background-repeat: no-repeat;
  border-radius: 4px;
  display: inline-block;
  line-height: 1;
  width: 100%; }

@keyframes progress {
  0% {
    background-position: -300px 0; }
  100% {
    background-position: calc(300px + 100%) 0; } }

.dashboard__container {
  width: 100%;
  max-width: 100%; }
  @media screen and (min-width: 720px) {
    .dashboard__container {
      max-width: 500px; } }

.dashboard__card {
  overflow: hidden; }

.dashboard__header {
  position: relative;
  background-color: #54bc75;
  min-height: 100px; }

.dashboard__subheader {
  position: absolute;
  height: 48%;
  width: 100%;
  bottom: 0;
  background-color: #4daf7b; }

.dashboard__featured {
  position: absolute;
  top: 0;
  left: 2%;
  color: rgba(255, 255, 255, 0.9); }
  .dashboard__featured .stats__description {
    margin-top: -.4em;
    color: rgba(255, 255, 255, 0.6); }

.dashboard__content {
  padding: 2rem; }

.dashboard__date {
  color: #b8aca1; }

.dashboard__place {
  font-size: 1.6em;
  margin-bottom: 1rem;
  color: #776b5e; }

.dashboard__label {
  color: #b8aca1;
  margin-bottom: .4rem; }

.dashboard__stat-main {
  background-color: rgba(0, 0, 0, 0.1);
  color: #776b5e;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 4px; }
  .dashboard__stat-main .stats__label {
    color: #b8aca1; }

.dashboard__stat-focus {
  background-color: #4daf7b;
  text-align: center;
  padding: 1rem;
  display: inline-block;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 700;
  font-size: 1.2em;
  border-radius: 4px; }

.stats {
  text-align: center;
  color: #776b5e;
  font-weight: 700; }
  .stats__value {
    font-size: 1.8em;
    line-height: 1.6em; }
  .stats__description {
    font-size: .9em; }

.stats-donut__title {
  text-align: center;
  color: #776b5e;
  text-transform: uppercase;
  margin-top: 1rem !important; }

.stats-donut__caption-container {
  padding-bottom: 0 !important; }

.stats-donut__caption {
  border-top: 3px solid;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: background-color .4s ease-in-out; }
  .stats-donut__caption.active--1 {
    background-color: #b6dfc9; }
  .stats-donut__caption.active--2 {
    background-color: #f7d9d1; }
  .stats-donut__caption.active--3 {
    background-color: #f6e7b9; }

/* >>> britechart overrides */
.line-container {
  text-align: center; }

svg.britechart .x-axis-group,
svg.britechart .y-axis-group {
  display: none; }

svg.britechart.line-chart {
  filter: drop-shadow(1px 1px 3px #776b5e); }
  svg.britechart.line-chart .line {
    fill: transparent;
    stroke-width: 4px; }

/* <<< britechart overrides */
.select-language {
  position: absolute !important;
  border-color: #ff0000 !important;
  top: 1rem;
  right: 1rem; }
