$lap-start: 720px;
$desk-start: 1200px;
$desk-wide-start: 2400px;

$small-end: 360px;
$palm-end: $lap-start - 1px;
$lap-end: $desk-start - 1px;

$breakpoints: (
    "small"         "screen and (max-width: #{$small-end})",
    "palm"          "screen and (max-width: #{$palm-end})",
    "lap"           "screen and (min-width: #{$lap-start}) and (max-width: #{$lap-end})",
    "lap-and-up"    "screen and (min-width: #{$lap-start})",
    "portable"      "screen and (max-width: #{$lap-end})",
    "desk"          "screen and (min-width: #{$desk-start})",
    "desk-wide"     "screen and (min-width: #{$desk-wide-start})",
) !default;

$resolutions: (
    "retina"        "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)"
) !default;