// all the !important could be fixed with proper theming and specificity... just ain't got teh timey
// sorry :3

%action-container {
    font-weight: 700;
    overflow: hidden;
    text-align: center;
}

%action {
    color: $color-grey !important;
}
%action--like {
    @extend %action;
    &:hover {
        color: $color-base !important;
    }
    &:active,
    &.active,
    &:active > i.like,
    &.active > i.like {
        color: $color-red !important;
    }
    & > i.like {
        opacity: 1 !important;
        transition: none !important;
        &:active {
            color: $color-red !important;
        }
    }
    &:not(.active) > i.like:hover {
        color: $color-base !important;
    }
}
%action--nav {
    cursor: pointer;
    & > a {
        color: $color-text-inverse !important;
    }
    & > a i {
        margin: 0.2em;
    }
}

.card {
    &__profile-image {
        border-radius: 50%;
        border: 1px solid $color-grey;
        padding: 2px;
    }
    &__description {
        display: inline;
    }
    &__bottom-actions {
        @extend %action-container;
        background-color: $color-dim !important;
    }
    &__bottom-actions--nav {
        @extend %action-container;
        background-color: $color-grey-dark !important;
        padding: 0 !important;
    }
    &__action {
        @extend %action;
    }
    &__action--like {
        @extend %action--like;
    }
    &__action--nav {
        @extend %action--nav;
        cursor: pointer;
        padding-top: 1rem;
        padding-bottom: 1rem;
        &:hover {
            background-color: darken($color-grey-dark, 4%) !important;
        }
        &:active,
        &.active {
            background-color: $color-grey-darker !important;
        }
        &__label {
            text-transform: uppercase;
            font-size: 0.7em;
        }
    }
}

.card-tab {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    min-height: 400px;
    margin-right: 1px;
    margin-left: 1px;
    padding: 1rem;
    border-radius: 0 0 .28571429rem .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    border: 1px solid rgba(34,36,38,.1);
    border-top: none;
    overflow: auto;
    @include media-query(lap-and-up) {
        min-width: 400px;
        max-width: 400px;
    }
}
