$color-base: rgba(0, 0, 0, 0.87);
$color-base-light: rgba(0, 0, 0, 0.68);
$color-shade: rgba(0, 0, 0, 0.2);
$color-dim: rgba(0, 0, 0, 0.1);
$color-text-inverse: rgba(255, 255, 255, 0.9);
$color-text-incrust: rgba(255, 255, 255, 0.6);

$color-red: #e26f4d;
$color-yellow: #ebc85e;
$color-green: #4daf7b;
$color-green-light: #54bc75;
$color-blue: #5e90af;
$color-grey: #b8aca1;
$color-grey-light: lighten($color-grey, 20%);
$color-grey-dim: rgba($color-grey, 0.2);
$color-grey-dark: #776b5e;
$color-grey-darker: darken($color-grey-dark, 8%);
