.layout__center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout__center--full-height {
    @extend .layout__center;
    min-height: 100vh;
}

.layout__center--full-height--responsive-plz {
    @extend .layout__center--full-height;
    @include media-query(palm) {
        display: block;
    }
}
