.loading-skeleton {
    animation: progress 1.2s ease-in-out infinite;
    background-color: $color-grey-light;
    background-image: linear-gradient(90deg, $color-grey-light, darken($color-grey-light, 8%), $color-grey-light);
    background-size: 300px 100%;
    background-repeat: no-repeat;
    border-radius: 4px;
    display: inline-block;
    line-height: 1;
    width: 100%;
}

@keyframes progress {
    0% {
        background-position: -300px 0;
    }
    100% {
        background-position: calc(300px + 100%) 0;
    }
}